* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: #000;
}


/* img {
    width: 100%;
} */

.header-container {
    display: flex;
}

.header-logo {
    font-size: 24px;
    font-weight: bold;
}

.header-menu {
    margin-left: auto;
}

.header-menu>ul {
    display: flex;
}

.header-menu>ul>li {
    padding: 0px 10px;
    font-size: 15px;
    font-weight: bold;
}

.content {
    width: 100%;
    background-color: #EEEEEE;
}

.content-container-1 {
    padding: 80px 0 45px 0;
    width: 75%;
    display: flex;
    margin: 0 auto;
    justify-content: space-around;
}

.const {
    flex-basis: 31%;
}

.relative {
    margin-bottom: 25px;
    position: relative;
    border-radius: 5px;
}

.absolute {
    position: absolute;
    width: 100%;
    bottom: 5px;
    padding: 20px;
    left: 0;
    background-image: linear-gradient(#ffffff00, #0000009e);
}

.title-absolute {
    font-size: 18px;
    font-weight: bold;
    color: aliceblue;
}

.text-absolute {
    font-size: 14px;
    margin-top: 5px;
    color: #c0b9b9;
}

.title-wrap {
    padding-bottom: 10px;
}

.title-content {
    font-weight: bold;
    font-size: 9px;
    padding: 3px 8px;
    border-radius: 4px;
    color: white;
}

.travel {
    background-color: #f23a2f;
}

.food {
    background-color: #3089fc;
}

.content-img-container-1 {}

.content-img-container-2 {
    width: 65%;
}

.content-img-container-3 {
    width: 35%;
}

.content-thumbnail {
    width: 100%;
}

.container {
    width: 75%;
    margin: 0 auto;
}

.blogs-item {
    width: calc(100% / 3);
    padding: 15px;
}

.blogs_thumbnail img {
    width: 100%;
}

.blogs_tag {
    color: white;
    width: max-content;
    padding: 4px;
    font-size: 8px;
    background-color: #6c757c;
    border-radius: 5px;
}

.blogs_tag_2 {
    color: white;
    width: max-content;
    padding: 4px;
    font-size: 8px;
    background-color: #8bc34a;
    border-radius: 5px;
}

.blogs_tag_3 {
    color: white;
    width: max-content;
    padding: 4px;
    font-size: 8px;
    background-color: #f23a2f;
    border-radius: 5px;
}

.blogs_tag_4 {
    color: white;
    width: max-content;
    padding: 4px;
    font-size: 8px;
    background-color: #f89d14;
    border-radius: 5px;
}

.blogs_tag_wrap {
    display: flex;
}

.blogs-desc {
    color: #c0c0c0;
}

.blogs-read_more {
    color: blue;
}

.blogs-wrap {
    display: flex;
    flex-wrap: wrap;
}

#pagination {
    text-align: center;
    padding: 20px;
}

.number {
    color: white;
    padding: 7px 11px;
    background-color: #3089fc;
    border-radius: 50%;
}

.number15 {
    color: white;
    padding: 7px 8px;
    background-color: #3089fc;
    border-radius: 50%;
}

.number-1 {
    margin: 13px;
}

.content-box {
    display: flex;
    width: 100%;
}

.img-box {
    width: 100%;
}

.box-wrap {
    width: 50%;
    margin-bottom: 0;
}

.bottom {
    margin-right: 30px;
}

.img-box {
    margin-right: 20px;
}

.box-wrap-1 {
    width: 100%;
    height: 100%;
}

.img-box-1 {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.thumbnail-1 {
    margin-right: 20px;
}

.thumbnail-2 {
    margin-left: 20px;
}

.fisrt-footer {
    text-align: center;
}

.footer-subs-1 {
    font-size: 18px;
    font-weight: bold;
}

.footer-text {
    color: #c0c0c0;
    font-size: 14px;
    margin: 10px 0 25px 0;
}

.fisrt-box {
    width: 35%;
    margin: 0 auto;
}

.fisrt-footer {
    margin: 30px 0;
}

.footer-input {
    padding: 5px;
    width: 250px;
}

.footer-btn {
    padding: 7px;
    background-color: #3089fc;
    color: #ecf4fe;
    border: none;
}

#footer {
    background-color: #333333;
    width: 100%;
    color: #515151;
    padding: 50px 0;
}

.footer {
    float: left;
}

.footer-1 {
    width: 35%;
}

.footer-2 {
    width: 15%;
    display: flex;
    flex-wrap: wrap;
}

.footer-2 p {
    width: 50%;
}

.footer-wrap {
    width: 80%;
    margin: 0 auto;
}

.footer-3 {
    width: 80%;
}

.About {
    font-size: 15px;
    color: #ffffffb5 !important;
    font-weight: bold;
}

.footer-4 {
    text-align: center;
}

.recent {
    font-size: 40px;
    margin-left: 190px;
    font-weight: bold;
}

.icon-respon {
    display: none;
}

@media (min-width:320px) and (max-width:767px) {
    .header-menu-item {
        display: none !important;
    }
    .content-container-1 {
        display: block;
    }
    .icon-respon {
        display: block !important;
        margin-right: 5px;
        margin-top: 5px;
    }
    .content-img-container-2 {
        margin-right: 0px;
        width: 100%;
    }
    .content-img-container-3 {
        width: 100%;
    }
    .recent {
        margin-left: 0;
        text-align: center;
    }
    .blogs-item {
        width: 100%;
        padding: 0;
    }
    .content-box {
        display: block;
    }
    .box-wrap {
        width: 100%;
    }
    .thumbnail-1 {
        margin-bottom: 20px;
    }
    .thumbnail-2 {
        margin: 0;
        margin-bottom: 20px;
    }
    .fisrt-box {
        width: 100%;
    }
    .footer-1 {
        width: 100%;
        margin: 10px 0;
    }
    .footer-2 {
        width: 100%;
        margin: 10px 0;
    }
    .blogs-desc {
        text-align: justify;
    }
}

@media (min-width:768px) and (max-width:991px) {
    .header-menu-item {
        display: none !important;
    }
    .icon-respon {
        display: block !important;
        margin-right: 5px;
        margin-top: 5px;
    }
    .recent {
        margin-left: 0;
        text-align: center;
    }
    .box-wrap {
        display: block;
    }
    .blogs-item {
        width: 100%;
    }
    .bottom {
        margin-right: 30px !important;
    }
    .content-img-container-2 {
        margin: 0;
    }
    .thumbnail-1,
    .thumbnail-2 {
        height: 300px;
    }
    .img-box {
        height: 100%;
        object-fit: cover;
    }
    .footer-subs-2 {
        display: flex;
    }
}